/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.footer-content {
    background-color: var(--blue_color-default);
    padding: 16px 0 48px;
}

.footer-content__div {

    max-width: 1440px;
    margin: 0 auto;
}

.footer-content__title {
    color: var(--white_color-one);
    margin: 0 auto 32px;
    text-align: center;
    width: 95%;
}

.footer-content__infosContainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 16px;

    margin: 0 0 0 24px;
}

.footer-content__infosContainer__linksContainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-content__infosContainer__linksContainer__socialMedia {}

.footer-content__infosContainer__linksContainer__socialMedia--text {
    color: var(--white_color-one);
    font-weight: bold;
    margin-bottom: 24px;
}

.footer-content__infosContainer__linksContainer__socialMedia--container {
    align-items: flex-end;
    display: flex;
    gap: 24px;
}

.footer-content__infosContainer__linksContainer__socialMedia--link {
    color: var(--white_color-one);
    text-decoration: none;

    align-items: flex-end;
    display: flex;
    justify-content: flex-end;

    transition: all .25s ease-in-out;
}

.footer-content__infosContainer__linksContainer__socialMedia--link:hover {
    transform: scale(1.05);
}

.footer-content__infosContainer__linksContainer__webSites {}

.footer-content__infosContainer__linksContainer__webSites--text {
    color: var(--white_color-one);
    font-weight: bold;
    margin-bottom: 24px;
}

.footer-content__infosContainer__linksContainer__webSites--list {
    list-style: none;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-content__infosContainer__linksContainer__webSites--listLink {

    text-decoration: none;
}

.footer-content__infosContainer__linksContainer__webSites--listItem {
    color: var(--white_color-one);
    transition: all .25s ease-in-out;
}

.footer-content__infosContainer__linksContainer__webSites--listItem:hover {
    text-decoration: underline;
    transform: scale(1.05);
}